/* header banner style  */
body {
    width: 1335px;
    height: 6795px;
    background: #FFF;
}

.back-img {
    background-image: url('../resources/Banner\ Image.png');

    /* filter: brightness(0.7); */
    width: 1180px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    background: linear-gradient(-22deg, #241631 0%, rgba(7, 2, 17, 0)100%), url('/resources/Banner\ Image.png')
}

.ban-sub {
    color: #FFF;
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: -535px;
    position: relative;
    padding: 50px 130px 30px 130px;
}

.ban-title {
    color: #FFF;
    display: block;
    width: 620px;
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-left: 390px;
    margin-top: -45px;
}

/* header section style ended */


/* this is a main section  */

/* discount section style start  */
.discount {
    margin-top: 280px;
    margin-bottom: 80px;
}

.disc-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disc-title {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.disc-sub {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.disc-item {
    color: #070211;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.disc-img {
    width: 780px;
    height: 500px;
    margin: 0px auto;
}

/* discount section style end  */


/* midnight section style start  */

.mid-title {
    /* color: #FFF; */
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 5px;
    width: 520px;
}

.mid-img {
    background-image: url('../resources/Vectorrr.png');
    background: linear-gradient(-15deg, #3b3841 0%, rgba(7, 2, 17, 0)100%), url('/resources/Banner\ Image.png');
    /* 
    background:linear-gradient(80deg,#070211 0%, rgb(13, 14, 13,0)
    100%),url('/resources/Vectorrr.png') */
    width: 1180px;
    height: 600px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    position: relative;
}

.mid-sub-img {
    background-image: url('../resources/Group\ 70.png');
    width: 350px;
    height: 500px;
    background-position: right;
    position: relative;
    margin-left: 820px;
    background-repeat: no-repeat;
    background-size: cover;
}


.mid-para {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.80);
    width: 680px;

}

.mid-btn {
    font-weight: 800;
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 300px;
}

.mid-info {
    position: relative;
}

.mid-menu {
    color: #FFF;
    display: block;
    position: relative;
    margin-top: -505px;
    margin-left: 210px;
}

/* midnight section style end */


/* hotel section style start  */

.hotel-info {
    background-color: rgba(255, 0, 0, 0.10);
    width: 1180px;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px 10px;


}

.hotel-title-one {
    text-align: center;
    text-transform: capitalize;
    padding: 10px 145px 5px 150px;
    overflow: hidden;
    display: block;
    position: relative;

}

.main-info {
    margin-top: 72px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    margin-left: 319px;
}

button.hotel-btn {
    margin-left: 569px;
    padding: 10px 20px;
    margin-top: 30px;
    display: block;
    position: relative;
}

.hotel-btn {
    border-radius: 8px;
    background: #F00;
    border: none;
    font-size: 20px;
    color: white;
}

h3.hotel-title-one span {
    color: #F00;
}

/* hotel section style end  */


/* new year section start  */



.coming-soon {
    width: 350px;
    height: 250px;
    float: left;
    margin: 0px auto;
    margin-top: 100px;
    margin-left: 65px;

}

figure.new-year-img img {
    width: 289px;
    height: 300px;
    margin-left: -35px;
    border: 10px solid #F00;
    border-radius: 100%;
    margin-top: -48px;
    padding: 24px;

}

.coming-title {
    font-size: 20px;
    font-family: sans-serif;
    color: #F00;
    text-align: center;
    font-weight: 400;
}

.new-para {
    font-size: 45px;
    text-transform: capitalize;
    color: #070211;
    font-weight: 600;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coming-para {
    color: rgba(7, 2, 17, 0.60);
    width: 375px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 20;

}

h3.new-para {
    font-size: 45px;
    color: #F00;
    font-family: sans-serif;
    font-weight: 700px;
    text-align: center;

}

.last-para {
    color: rgba(7, 2, 17, 0.60);
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

/* new year section end */

/* holidays section style start  */
.holidays-container {
    margin-top: 200px;
    display: inline-block;
}

.holi-sub {
    font-size: 20px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    font-weight: 400px;
    font-family: sans-serif;
}

.holi-title {
    font-size: 65px;
    margin-top: 5px;
    text-align: center;
    display: contents;
    overflow: hidden;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.holi-title span {
    color: #F00;
}

.holi-para {
    font-size: 18px;
    color: rgba(7, 2, 17, 0.60);
    line-height: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 10px;
    width: 730px;

}

.holi-info-main {
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 330px;
}

figure.img-gallary img {
    width: 380px;
    height: 360px;
    margin-top: 101px;
    margin-left: 160px;
    /* background:linear-gradient(-15deg,#c2c2c2 0%, rgba(7,17,7,0)100%),url('/resources/Group\ 75.png') */



}

figure.rectangle img {
    margin-top: -126px;
    margin-left: 15px;
    z-index: -1;
    position: relative;
    width: 96%;
}

figure.rectangle-2 img {
    border-radius: 16px 16px 0px 0px;
    background: lightgray -59.98px 0px / 151.553% 100% no-repeat;
    position: relative;
    width: 351px;
    float: right;
    margin-right: 36px;
    margin-top: -584px;
    mix-blend-mode: multiply;
    background-color: white;
}

img.group {
    float: right;
    position: relative;
    margin-top: -575px;
    margin-right: 265px;

}

/* holidays section style ended */


/* image gallery section style start  */

.gallery-sub {
    font-size: 20px;
    margin-top: 100px;
    font-weight: 500;
    color: #F00;
    font-family: sans-serif;
}

.gallery-title {
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 800px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.gallery-para {
    color: rgba(7, 2, 17, 0.60);
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    width: 690px;
}

.gallery-manu {
    display: inline-block;
    position: relative;
    line-height: 0px;
    margin-left: 60px;
}

figure.main-img-gallery img {
    width: 380px;
    height: 415px;
    margin-left: 10px;
    transition: .2s;

}

figure.main-img-gallery img:hover {
    transform: scale(1.1);
    width: 380px;
    height: 415px;
}

/* image gallery section style ended */

/* Subscribe section start  */
.subs-container {
    background-color: rgba(255, 0, 0, 0.10);
    width: 1180px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px 10px;
}
figure.subs-img img {
    margin: 20px auto;
    display: block;
    padding: 40px 0px 0px 0px;
}
.subs-title{
    font-size: 45px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}
.subs-para{
    color: rgba(7, 2, 17, 0.60);
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    width: 750px;
    margin-left: 250px;
    font-family: serif;
}
input#text{
    width: 403px;
    height: 33px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 10px auto;
    margin-left: 397px;
    font-size: 20px;
    border: none;
    position: absolute;
    margin-top: 29px;
    outline: none;
}
button.subs-btn {
    width: 151px;
    height: 53px;
    text-align: center;
    text-transform: capitalize;
    background-color:#F00;
    color: white;
    border: none;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    float: right;
    margin-right: 289px;
    margin-top: 29px;
    display: inline-block;
    font-size: 20px;
}



/* Subscribe section end */


/* this is a main section end  */




/* this is a footer section style start  */
.footer-container{
    background-color: #070211;
}
.top-item{
    width: 1335;
    height:100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-top: 180px;
    justify-content: space-between;
    color: #FFF;
    padding-top: 100px;

}
.top-left{
    margin-left: 100px;
    color: #FFF;

}
.top-right{
    margin-right: 100px;
    color: #FFF;

}
figure.icone img {
    /* background: black; */
    position: relative;
    display: block;
    margin-top: -85px;
    margin-left: -65px;
    color: #FFF;

}
figure.icone img.bottom {
    margin-top: 20px;
}
.icon-gallery {
    overflow: hidden;
    text-align: center;
}
.i-gallery img{
    margin-left: 10px;

}
.copy{
    font-size: 20px;
    font-weight: 500;
    margin-left: -900px;
    margin-top: 100px;
    color: #FFF;
    padding-bottom: 100px;

}
.Unsubscribe{
    float: right;
    display: block;
    position: relative;
    margin-right: 140px;
    margin-top: -60px;
    font-weight: 500;
    font-size: 20px;
    color: #FFF;
    padding-bottom: 100px;

}


/* this is a footer section style end */